body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #183955, #00383b);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: rgb(176, 212, 255);
    padding: 30px;
    width: 420px;
    border-radius: 15px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.6s ease;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
}


input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}


input:focus, select:focus, textarea:focus {
    border-color: #270d39;
    box-shadow: 0 0 6px rgba(1, 4, 7, 0.6);
    outline: none;
}


.gender {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}


.submit-btn {
    background: #4facfe;
    color: white;
}

.submit-btn:hover {
    background: #00c6ff;
}


.reset-btn {
    background: #e5e7eb;
}

.reset-btn:hover {
    background: #d1d5db;
}

.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}